extends ../node_modules/silex-website-builder/src/html/index.jade

append head-start
  script(async, src="https://cdn.rawgit.com/showdownjs/showdown/1.9.1/dist/showdown.min.js")
  script.
    let converter;
    function makeHtml(str) {
      converter = converter || new showdown.Converter();
      return converter.makeHtml(str);
    }


append body-end
  script(type='text/javascript' src='client.js')
  
append silex-options
  script.
    silex.config.componentFolders.push('components/')
